.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
 }
 
.inner {
  max-width: 800px;
  margin-left:200px ;
  background: #fff;}
  
form { 
  padding-top: 60px;
  padding-right: 60px;
  padding-left: 30px;
  padding-bottom:50px;}

h3 {
  font-size: 35px;
  font-family: "ElMessiri-SemiBold";
  text-align: center;
  margin-bottom: 30px;
  color: #ff9a9c; }

.form-holder {
  padding-left: 10px;
 }
 
.form-control {
  display: block;
  width: 100%;
  border-radius: 23.5px;
  height: 50px;
  padding: 0 24px;
  color: #808080;
  font-size: 15px;
  border: none;
  background: #f7f7f7;
  margin-bottom: 25px; }
  
.form-control::-webkit-input-placeholder {
  font-size: 15px;
  color: #808080;
  text-transform: uppercase;
  font-family: "Montserrat-Regular"; } 

button {
  letter-spacing: 2px;
  border: none;
  width: 153px;
  height: 47px;
  margin-left:22px;  
  border-radius: 23.5px;
  cursor: pointer;  
  align-items: center;
  justify-content: center;
  background: #ff9a9c;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat-SemiBold";}